.root {
  flex-shrink: 0;
  position: relative;
  overflow-y: hidden;
}

.footer {
  @apply bg-blue;
}

.root a {
  @apply relative;
  @apply font-display text-black;
}

.root a > div {
  border-bottom-width: 3px;
  @apply absolute w-full border-black;
  bottom: -2;
}

@screen sm {
  .root > footer > nav > a:nth-child(-n + 2) {
    transform: translateX(-6rem);
  }
  .root > footer > nav > a:nth-child(n + 3) {
    transform: translateX(6rem);
  }
}

@screen lg {
  .root > footer > nav > a:nth-child(-n + 2) {
    transform: translateX(-8rem);
  }
  .root > footer > nav > a:nth-child(n + 3) {
    transform: translateX(8rem);
  }
}
