.root {
  @apply pt-16;
  @apply max-w-6xl mx-auto;
}

.root h1,
.root h2 {
  @apply mt-10;
}

.root section {
  @apply px-4;
}

/* .collections {
  @apply px-4;
}

.collections > h1 {
  @apply ml-7;
} */

.topicsContainer {
  @apply flex flex-wrap;
  @apply justify-center;
}

.topicsContainer > div {
  @apply mr-8;
}

.image {
  position: relative;
  height: 20em;
  width: 20em;
}
