.root {
  @apply pt-16;
}

.navBoxes {
  @apply flex justify-center flex-wrap;
  @apply my-8;
}

.navBoxes a div {
  @apply w-64 h-60;
  @apply flex justify-center items-center;
  @apply border-4 border-black border-dashed;
  @apply text-center;
  @apply m-4;
}

.navBoxes a:first-child div {
  @apply bg-pink;
}

.navBoxes a:nth-child(2) div {
  @apply bg-blue;
}

.navBoxes a:nth-child(3) div {
  @apply bg-coral;
}

.root section:nth-child(n + 3) {
  @apply border-t-4 border-black;
  @apply py-8 px-4;
}

.root section:last-of-type {
  @apply border-b-4;
}
.root section > div {
  @apply max-w-6xl mx-auto;
}

section.about {
  @apply bg-blue;
}

.root section:nth-child(5) {
  @apply bg-pink;
}

.root p {
  @apply mt-4;
}

.dreamSq {
  @apply flex flex-wrap;
  @apply justify-evenly;
}

.dreamSq > div {
  @apply my-8;
  @apply w-72 h-72;
  box-shadow: 1.5em 1.5em #000;
  @apply border-4 border-black;
}

.dreamSq h3 {
  @apply text-lg;
}

.dreamSq > div {
  /* transform: scale(0.8); */
  @apply py-8;
}
.dreamSq > div:nth-child(1) > div {
  @apply px-6;
}
.dreamSq > div:nth-child(n + 2) {
  @apply px-6;
  /* @apply ml-4; */
}
.dreamSq h3 {
  @apply pt-4;
}
.dreamSq > div:nth-child(3) h3 {
  transform: translateY(-2rem);
}
.dreamSq > div:nth-child(3) svg {
  transform: translateY(-1rem) scale(0.8);
}

.infobox {
  @apply flex flex-wrap justify-evenly;
  /* @apply py-8; */
}

.infobox > div {
  @apply w-72;
  @apply my-8;
  box-shadow: 1.5em 1.5em #0b5cd5;
  @apply bg-white border-4 border-black;
  /* @apply mb-16 max-w-xs; */
}

.infobox > div {
  @apply p-6;
}

.infobox > div > h3 {
  @apply mb-2;
}

@screen sm {
  .navBoxes {
    @apply flex flex-row;
  }

  /* .dreamSq > div {
    @apply mr-16;
  } */

  .navBoxes div {
    @apply w-48;
  }
}
